@{
    ViewData["Title"] = "Expenses";
}

@model List<Expense>

<div class="text-center">
    <h1 class="display-4">Despesas</h1>
    <br/>
    <hr />
    <h3>Despesas Totais: R$ @ViewBag.Expenses</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var expense in Model)
                {
                    <tr>
                        <td>
                            @expense.id
                        </td>
                        <td>
                            @expense.Value
                        </td>
                        <td>
                            @expense.Description
                        </td>
                        <td>
                            <a asp-action="CreateEditExpense" asp-route-id="@expense.id">Editar</a>
                            <a asp-action="DeleteExpense" asp-route-id="@expense.id">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
